<!DOCTYPE html>
<html>
<head>
  <title>Disaster Resource Finder</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
  <h2>Disaster Resource Finder</h2>
  <input type="text" id="searchBox" placeholder="Search resource (e.g. hospital)">
  <button onclick="searchResource()">Search</button>
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>